p
{
	font-family:times new roman;
	color:pink;
	font-size:40;
}
h1
{
	color:white;
}
h2
{
	color:yellow;
}
body
{
	background:url('details.jpg');
	background-repeat:no-repeat;
	background-size:100%;
}
