body
{
	background-image:url('top2.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}
h1
{
	font-family:times new roman;
	color:cyan;
	font-size:50;
}
a
{
	color:yellow;
	font-weight:bold;
	text-decoration:none;
}
h3
{
	color:red;
}